<style>
ul.socal-links {
}
ul.social-links li {
    display: Block;
    padding-bottom: 1ex;
}
</style>
<ul class="social-links">
  <li><a href="https://www.patreon.com/farraway" title="Farraway"><img src="/assets/icons/patreon.png" style="width: 1em"> Farraway</a></li>
  <li><a href="https://www.youtube.com/channel/UCKPlzfrQpyI6FV-GMrjr84g" title="ChessFarraway"><img src="/assets/icons/youtube.png" style="width: 1em"> ChessFarraway</a></li>
  <li><a href="https://www.twitch.tv/farraway" title="Farraway"><img src="/assets/icons/twitch.png" style="width: 1em"> Farraway</a></li>
</ul>
